@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  color-scheme: dark;
}

body {
  @apply bg-surface text-white;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-surface-light;
}

::-webkit-scrollbar-thumb {
  @apply bg-primary-700 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-primary-600;
}

/* Grid Layout Plus Styles */
.vgl-layout {
  --vgl-placeholder-bg: #1976d2;
  --vgl-placeholder-opacity: 20%;
  --vgl-placeholder-z-index: 2;
  --vgl-item-resizing-z-index: 3;
  --vgl-item-resizing-opacity: 60%;
  --vgl-item-dragging-z-index: 3;
  --vgl-item-dragging-opacity: 100%;
  --vgl-resizer-size: 10px;
  --vgl-resizer-border-color: #666;
  --vgl-resizer-border-width: 2px;
  position: relative;
  box-sizing: border-box;
  transition: height 200ms ease;
}

.vgl-item {
  position: absolute;
  box-sizing: border-box;
  transition: 200ms ease;
  transition-property: left, top, right;
  touch-action: none;
}

.vgl-item--placeholder {
  z-index: var(--vgl-placeholder-z-index, 2);
  user-select: none;
  background-color: var(--vgl-placeholder-bg, #1976d2);
  opacity: var(--vgl-placeholder-opacity, 20%);
  transition-duration: 100ms;
}

.vgl-item--resizing {
  z-index: var(--vgl-item-resizing-z-index, 3);
  user-select: none;
  opacity: var(--vgl-item-resizing-opacity, 60%);
}

.vgl-item--dragging {
  z-index: var(--vgl-item-dragging-z-index, 3);
  user-select: none;
  opacity: var(--vgl-item-dragging-opacity, 100%);
  transition: none;
}

.vgl-item__resizer {
  position: absolute;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
  width: var(--vgl-resizer-size);
  height: var(--vgl-resizer-size);
  cursor: se-resize;
}

.vgl-item__resizer::before {
  position: absolute;
  inset: 0 3px 3px 0;
  content: '';
  border: 0 solid var(--vgl-resizer-border-color);
  border-right-width: var(--vgl-resizer-border-width);
  border-bottom-width: var(--vgl-resizer-border-width);
}
